<br>
<br>
<button routerLink="/properties/1"><a>Page 1</a></button>
<button routerLink="/properties/2"><a>Page 2</a></button>

<h2>Page: {{nodeId}} works!</h2>

<div>
  <h1>Properties for rent</h1>
  <div>
    <input type="text" id="searchQuery" [(ngModel)]="searchQuery" (keydown.enter)="onInputChanged()" placeholder="Enter address...">
    <button (click)="search()">Search</button>
  </div>
  <br>

  
  <br>
  <div *ngFor="let item of searchResults; let i = index">
    <div *ngFor="let entry of item | preserveOrder">
      <strong>{{ transformKey(entry.key) }}:</strong> {{ renderValue(entry.value) }}
    </div>
  </div>
</div>
