<br>
<br>
<button routerLink="/properties/1"><a>Page 1</a></button>
<button routerLink="/properties/2"><a>Page 2</a></button>

<h2>Page: {{nodeId}} works!</h2>

<div>
  <h1>Properties Component</h1>
  <div>
    <label for="searchQuery">Search by Address:</label>
    <input type="text" id="searchQuery" [(ngModel)]="searchQuery" (input)="search()" placeholder="Enter address...">
    <button (click)="search()">Search</button>
    <button (click)="clearSearch()">Clear Search</button>
  </div>
  <div>{{searchResults.length}}</div>

  <div *ngFor="let item of searchResults; let i = index">
    <div *ngFor="let entry of item | preserveOrder">
      <strong>{{ transformKey(entry.key) }}:</strong> {{ renderValue(entry.value) }}
    </div>
  </div>
</div>
