
<div class="carousel-wrapper ">

    <h1 class="caroulsel-header">Reccomended: </h1>
    <p-carousel [value]="getPropertyValue(dataKey).slice(0, 6)" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <p-card class="mycard" [style]="{ width: '300px' }" header="{{ product.number_of_rooms }},{{ product.address }}">
          <ng-template pTemplate="header">
            <div class="card-head">
              <i class="pi pi-user"></i>
              <div>
                <div class="card-title">{{ product.broker }}</div>
                <div class="card-subtitle">{{ product.agency }}</div>
              </div>
            </div>
            <img mat-card-image src="https://www.travaux.com/images/cms/original/ebcd4d3c-6a00-47d2-8165-6d9e192082af.jpeg" alt="Property Photo" style="max-width: 298px;">
          </ng-template>
          <div>
            <mat-grid-list cols="2" rowHeight="20px">
              <mat-grid-tile>Площ: {{ product.sq_meters }}</mat-grid-tile>
              <mat-grid-tile>Отопление: {{ product.heating }}</mat-grid-tile>
              <mat-grid-tile>Материал: {{ product.btype }}</mat-grid-tile>
              <mat-grid-tile>Цена: {{ product.price }}</mat-grid-tile>
            </mat-grid-list>
          </div>
          <ng-template pTemplate="footer">
            <button pButton label="View Offer" class="product-cart-button" [routerLink]="['/product-list', product.unique_id]"></button>
          </ng-template>
        </p-card>
      </ng-template>
    </p-carousel>

    



    <div class="data-card">
      <div class="input-group">
        <h1>Search Properties</h1>
        <div class="p-inputgroup">
          <input pInputText id="searchQuery" [(ngModel)]="searchQuery" (keydown.enter)="onInputChanged()" placeholder="Enter address..."/>
          <button type="button" pButton icon="pi pi-search" styleClass="p-button-danger" (click)="search()"></button>
        </div>
      </div>
      <h2 class="results-group" *ngIf="searchResults.length > 0 && searchResults.length <20">
        Results: {{searchResults.length}}
      </h2>
  
      <p-dataView #dv [value]="searchResults" [rows]="7" [paginator]="true" >
          <ng-template let-product pTemplate="listItem" class="product-details">
            <div class="product-details">
              <div class="flex-container">
                <img mat-card-image class="product-image" src="{{ product.images_path }}" alt="Property Photo" />
                <div class="product-info">
                    <div class="product-name">{{ product.address }}</div>
                    <div class="product-category">
                      <div class="card-row">
                        <div class="column">
                          <div>{{ product.number_of_rooms }}</div>
                          <div>Отопление: {{ product.heating }}</div>
                        </div>
                        <div class="column">
                          <div>Площ: {{ product.sq_meters }} sq/m</div>
                          <div>Материал: {{ product.btype }}</div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="price-container">
                  <span class="product-price">{{ product.price }} лв</span>
                  <button pButton icon="pi pi-shopping-cart" class="product-cart-button" [routerLink]="['/product-list', product.unique_id]"></button>
              </div>
            </div>
          </ng-template>
      </p-dataView>
    </div>

</div>
<!-- </div>

<div *ngFor="let item of getPropertyValue(dataKey).slice(0, 1)">
  <h2>{{ transformKey(dataKey) }}</h2>
  <div *ngIf="item">
    <p-card class="mycard" [style]="{ width: '500px' }" [header]="item.number_of_rooms + ',' + item.address">
      <ng-template pTemplate="header">
        <div class="card-head">
          <div mat-card-avatar class="pi pi-user"></div>
          <div>
            <div class="card-title">{{ item.broker }}</div>
            <div class="card-subtitle">{{ item.agency }}</div>
          </div>
        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </ng-template>
      <div>
        <mat-grid-list cols="2" rowHeight="25px">
          <mat-grid-tile>Площ: {{ item.sq_meters }}</mat-grid-tile>
          <mat-grid-tile>Отопление: {{ item.heating }}</mat-grid-tile>
          <mat-grid-tile>Материал: {{ item.btype }}</mat-grid-tile>
          <mat-grid-tile>Цена на обявата: {{ item.price }}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
<br> -->





  
  