<br>
<div class="carousel-wrapper">
  <div *ngFor="let key of dataKeys">
    <h2>{{ key }}</h2>
    <p-carousel [value]="getPropertyValue(key)" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <p-card class="mycard" [style]="{ width: '500px' }" header="{{ product.number_of_rooms }},{{ product.address }}">
          <ng-template pTemplate="header">
            <div class="card-head">
              <div mat-card-avatar class="pi pi-user"></div>
              <div>
                <div class="card-title">{{ product.broker }}</div>
                <div class="card-subtitle">{{ product.agency }}</div>
              </div>
            </div>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Property Photo">
          </ng-template>
          <div>
            <mat-grid-list cols="2" rowHeight="25px">
              <mat-grid-tile>Площ: {{ product.sq_meters }}</mat-grid-tile>
              <mat-grid-tile>Отопление: {{ product.heating }}</mat-grid-tile>
              <mat-grid-tile>Материал: {{ product.btype }}</mat-grid-tile>
              <mat-grid-tile>Цена на обявата: {{ product.price }}</mat-grid-tile>
            </mat-grid-list>
          </div>
          <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
          </ng-template>
        </p-card>
      </ng-template>
    </p-carousel>
  </div>
</div>


<!-- <div *ngFor="let key of dataKeys ">
  <h2>{{ key }}</h2>

  <div *ngFor="let item of getPropertyValue(key); let i = index">
    <div *ngFor="let subKey of item  | preserveOrder">
      <strong>{{ transformKey(subKey.key) }}:</strong> {{ renderValue(subKey.value) }}
    </div>
    <strong>Object {{ i + 1 }} -</strong>
    <strong>sq_meters:</strong> {{ item.sq_meters }}
  </div>
</div> -->


<!-- <div *ngFor="let key of dataKeys">
  <h2>{{ transformKey(key) }}</h2>
  <div *ngIf="getPropertyValue(key) && getPropertyValue(key).length > 0">
    <p-card class="mycard" [style]="{ width: '500px' }" header="{{ getPropertyValue(key)[0].number_of_rooms }},{{ getPropertyValue(key)[0].address }}">
      <ng-template pTemplate="header">
        <div class="card-head">
          <div mat-card-avatar class="pi pi-user"></div>
          <div>
              <div class="card-title">{{ getPropertyValue(key)[0].broker }}</div>
              <div class="card-subtitle">{{ getPropertyValue(key)[0].agency }}</div>
          </div>
        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </ng-template>
      <div>
        <mat-grid-list cols="2" rowHeight="25px">
          <mat-grid-tile>Площ: {{ getPropertyValue(key)[0].sq_meters }}</mat-grid-tile>
          <mat-grid-tile>Отопление: {{ getPropertyValue(key)[0].heating }}</mat-grid-tile>
          <mat-grid-tile>Материал: {{ getPropertyValue(key)[0].btype }}</mat-grid-tile>
          <mat-grid-tile>Цена на обявата: {{ getPropertyValue(key)[0].price }}</mat-grid-tile>
        </mat-grid-list>
      </div>
      <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
  </p-card>
  </div>
</div> -->





  
  