<div *ngFor="let key of dataKeys">
  <h2>{{ key }}</h2>
  
  <div *ngFor="let item of getPropertyValue(key) | keyvalue">
    <strong>{{ transformKey(item.key) }}:</strong>
    <ng-container *ngIf="isObject(item.value)">
      <div *ngIf="!isEmptyObject(item.value); else handleScalar">
        <div *ngFor="let subItem of item.value | keyvalue">
          {{ transformKey(subItem.key) }}: {{ renderValue(subItem.value) }}
        </div>
      </div>
    </ng-container>
    <ng-template #handleScalar>
      {{ renderValue(item.value) }} <!-- Use renderValue to handle scalar values and empty objects -->
    </ng-template>
  </div>
</div>



  
  