
.your-menu-class > div {
    
    border: none;
    border-radius: 0;
    padding: 15px;
    background: #1f2d40;
    margin-bottom: 30px;
    /* border: none; */

    .p-menuitem-text{
        color: white;
    }

    .p-menuitem-link {
        justify-content: center;
    }  

    ul a, .p-menubar-button{
        justify-content: center;
        background: #1f2d40;
        color: rgba(255, 255, 255, 0.87);
    }  

    ul :hover {
        color: rgba(255, 255, 255, 0.87);
        background: rgba(255, 255, 255, 0.03);
    }

    .p-menubar-button{
        justify-content: center;
        background: #1f2d40;
        color: rgba(255, 255, 255, 0.87);
        box-shadow: none;
    }  

    .p-menubar-button:hover:focus {
        color: rgba(255, 255, 255, 0.87);
        background: rgba(255, 255, 255, 0.03);
    }
}


